*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1,h2,h3{
    font-family:'Lato', sans-serif;
    font-size: 2em;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
}
.topo{
    background-color: #5a0063;
    color: #fff;
    margin-top: -25px;
    height: 100%;
}
header{
    margin-top: 1.5%;
    padding-top: 40px;
}
h1{
    margin-left: 9%;
}
header p{
    margin-left: 7%;
    font-size: 1.2em;
}
.navegacao ul{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
}
.navegacao li{
    margin: 3px 30px 3px 30px;
    list-style-type: none;
    font-size: 1.3em;
    padding-bottom: 15px;
}

a{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}
a:hover{
    color: #fff;
}
.banner{
    background-image: url(https://cdn-images-1.medium.com/max/2000/1*4qmjzRThEQRZAjpZaE05TA.jpeg);
    width: 100%;
    height: 100%;
    color: #fff;
}
.banner_texto{
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.4em;
}
.h2_left{
    margin-left: 7%;
}
.h2_left2{
    margin-left: 8%;
}
.sobre{
    height: 100%;
}
.sobre h2{
    text-align: center;
    padding-top: 2%;
}
.sobre p{
    margin-left: 50%;
    margin-top: 15%;
    font-size: 1.4em;
    width: 100%;

}
.foto_flex{
    display: flex;
    flex-direction: row-reverse;
}
.foto_taina{
    width: 100%;
    margin-bottom: 5%;
}
/* .foto_taina{
    display: flex;
    height: 280px;
}
.taina{
    bottom: 30%;
    width: 220px;
    margin-left: 75%;
} */
.taina{
    width: 30%;
    margin-left: 60%;
}
.skills{
    background-color:#5a0063; 
    color: #fff;
    height: 400px;
}
.skills h2{
    margin-left: 46.4%;
    padding-top: 1%;
}
.skills1{
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-around;
    margin-left: 3%;
    margin-top: 3%;
}
.skills2{
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-around;
}
.photoshop{
    width: 80px;
}
.html{
    width: 70px;
}
.css{
    width: 57px;
}
.cloud{
    width: 90px;
}
.ux{
    width: 100px;
}
.react{
    width: 90px;
}
.SQL{
    width: 100px;
}
.scrum{
    width: 100px;
}
.csharp{
    width: 100px;
}
.ill{
    width: 80px;
}
.portifolio{
    height: 120vh;
}
.portifolio h2{
    margin-left: 45%;
    padding-top: 10px;
}
.ponto{
    width: 18%;
    height: 80%;
}
.port{
    width: 18.5%;
    height: 80%;
}
.hamb{
    width: 19%;
    height: 80%;
}
.port_align{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 100%;
}
.fale_conosco{
    height: 50vh;
}
.fale_conosco h2{
    margin-left: 43.58%;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.submit{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
input{
    height: 30px;
    margin: 2px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px;
}
input[type="submit"]{
    background-color: #5a0063;
    color: #fff;
    width: 30%;
    height: 30px;
}
footer{
    background-color: #5a0063;
    color: #fff;
}
footer h2{
    margin-left: 10%;
    padding-top: 15px;
}
footer p{
    margin-left: 15%;
    font-size: 1.2em;
}
.redes{
    display: flex;
    justify-content: space-evenly;
}
.face{
    width: 50px;
}
.insta{
    width: 50px;
}
.tt{
    width: 50px;
}

@media (max-width:1296px){
    .navegacao li{
        list-style-type: none;
        font-size: 1.3em;
    }
}
@media (max-width:1250){
    .foto_taina{
        display: flex;
    }
}
@media (max-width:1160px){
    .navegacao ul{
        display: flex;
        flex-direction: row;
        margin-left: 30%;
    }
    
    .foto_flex{
        display: flex;
        flex-direction: column-reverse;
    }
    .sobre p{
        margin-left: 10%;
        margin-top: 15%;
        font-size: 1.4em;
        width: 100%;
    
    }
    .taina{
        width: 30%;
        margin-left: 40%;
    }
}
@media (max-width:884px){
    .navegacao ul{
        display: flex;
        flex-direction: row;
        margin-left: 20%;
    }
    .port_align{
        display: flex;
        justify-content: space-around;
        height: 100%;
        flex-direction: column;
        width: 300%;
        margin-left: 25%;
    }
    .portifolio{
        height: 100%;
    }
}
@media (max-width:730px){   
    .navegacao ul{
        display: flex;
        flex-direction: row;
        margin-left: 10%;
    }
    header{
        margin-left: 18%;
    }
    input{
        height: 50px;
        width: 500px;
        margin: 2px;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px;
    }
    input[type="submit"]{
        background-color: #5a0063;
        color: #fff;
        width: 30%;
        height: 50px;
    }
}
@media (max-width:650px){   
    .navegacao ul{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
    }
}
@media (max-width:615px){   
    .navegacao ul{
        display: flex;
        flex-direction: row;
        margin-left: 2.5%;
    }
}
@media (max-width:600px){   
    .navegacao ul{
        display: flex;
        flex-direction: column;
        margin-left: 30%;
    }
    .skills{
        height: 700px;
    }
    .skills1{
        display: flex;
        flex-direction: column;
        height: 80px;
        /* justify-content: space-around; */
        margin-left: 30%;
        margin-top: 50%;
    }
    .skills2{
        display: flex;
        flex-direction: column;
        height: 80px;
        /* justify-content: space-around; */
        margin-left: 70%;
        margin-top: -23%;
    }
    .photoshop{
        width: 80px;
        margin-bottom: 20px;
    }
    .html{
        width: 80px;
        margin-bottom: 20px;
    }
    .css{
        width: 80px;
        margin-bottom: 20px;
    }
    .cloud{
        width: 80px;
        margin-bottom: 20px;
    }
    .ux{
        width: 80px;
        margin-bottom: 20px;
    }
    .react{
        width: 80px;
        margin-bottom: 20px;
    }
    .SQL{
        width: 80px;
        margin-bottom: 20px;
    }
    .scrum{
        width: 80px;
        margin-bottom: 20px;
    }
    .csharp{
        width: 80px;
        margin-bottom: 20px;
    }
    .ill{
        width: 80px;
        margin-bottom: 20px;
    }
}